<div class=images>
  <img src="/images/cover.png" alt="sample-1" width="745" >
</div>

<div class="row">

  <div class="col s4">
    <!-- Promo Content 1 goes here -->
    <p>Materialize is a modern responsive CSS framework based on Material Design by Google.</p>
  </div>
  <div class="col s4">
    <!-- Promo Content 2 goes here -->
    <p>Materialize is a modern responsive CSS framework based on Material Design by Google.</p>
  </div>
  <div class="col s4">
    <!-- Promo Content 3 goes here -->
    <p>Materialize is a modern responsive CSS framework based on Material Design by Google.</p>
  </div>

</div>