<main class="">
  <h1 >Login</h1>
  <form class="chess-login-form">
    <div >
      <label>Username</label>
      <input
        type="text"
        id="login"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        id="login"
        placeholder="Password"
      />
    </div>
    <button type="submit">Log In</button>
  </form>

</main>